<footer class="footer" role="contentinfo">

  <a
    class="footer-logo"
    href="{{ site.url }}" aria-hidden="true">
    <img src="{{ "/image/logo.png" | relative_url }}"
    alt="BPM2025" />
  </a>

  <div class="row column">
    <ul class="social-icons">
      <li>
        <a class="twitter" href="">
          <svg class="social-icon">
            <title>Twitter</title>
            <use xlink:href="#twitter-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="github" href="">
          <svg class="social-icon">
            <title>Github</title>
            <use xlink:href="#github-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="youtube" href="">
          <svg class="social-icon">
            <title>YouTube</title>
            <use xlink:href="#youtube-icon"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="text-center">
      <strong>
      Got questions? We can help:
        <a
          href="mailto:{{site.contact_us_email}}">{{site.contact_us_email}}</a>
      </strong>
    </p>

    <small class="legal text-center">
      &copy; {{ site.time | date: '%Y' }} BPM2025
      &middot; Design by <a href="">YupGup</a>
      &middot; Presented by <a href="">DEFNA</a>
      &middot; <a href="/conduct/">Code of Conduct</a>
      &middot; <a href="/colophon/">Colophon</a>
    </small>
  </div>
</footer>
