---
description: BPM Steering Committee
heading: BPM Steering Committee
layout: base
permalink: /steering_committee/
published: true
redirect_from:
- /about/organizers/
title: BPM Steering Committee
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content subpage-content">
  <section class="section-pad">
    <div class="row column">
      <p class="lead">
        The success of the BPM2025 Conference on Business Process Management is built upon the expertise and vision of a select group of leaders in the field of business process management. Our dedicated steering committee brings together outstanding and passionate experts who guide and oversee the strategic development of the conference. Their commitment to excellence and innovation ensures that BPM2025 is a cutting-edge event that addresses the most relevant challenges and opportunities in the field of process management. Through their leadership, we are committed to delivering a conference that inspires, educates, and advances this fundamental discipline.
      </p>
      <div
        class="row small-up-1 smedium-up-2 medium-up-3 large-up-4 organizers">
      {% for organizer in site.organizers %}
        {% unless organizer.hidden %}
          <div
            class="column column-block">
            <div class="profile">
              <img
                class="circular-image"
                src="{{ organizer.photo_url }}"
                alt="Photo of {{ organizer.name }}" />
              <div class="profile-namecard">
                <h3 class="profile-name">
                  {{ organizer.name }}
                  {% if organizer.pronouns != blank %}
                    ({{ organizer.pronouns }})
                  {% endif %}
                </h3>
                {{ organizer.role }}
              </div>
              <ul class="social-icons">
                {% if organizer.twitter != blank %}
                <li>
                  <a class="twitter" href="https://twitter.com/{{ organizer.twitter }}" target="_blank">
                    <svg class="twitter-icon"><use xlink:href="#twitter-icon"></use></svg>
                  </a>
                </li>
                {% endif %}
                {% if organizer.github != blank %}
                <li>
                  <a class="github" href="https://github.com/{{ organizer.github }}/" target="_blank">
                    <svg class="social-icon"><use xlink:href="#github-icon"></use></svg>
                  </a>
                  </li>
                {% endif %}
                {% if organizer.website != blank %}
                <li>
                  <a class="web" href="{{ organizer.website }}" target="_blank">
                    <svg class="social-icon"><use xlink:href="#web-icon"></use></svg>
                  </a>
                </li>
                {% endif %}
              </ul>
              </div><!--/.profile -->
          </div><!--/.column -->
        {% endunless %}
      {% endfor %}

      </div><!--/.row -->
    </div>
  </section>
</div><!-- end .content -->
